body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(blue,red);
    font-family: 'Courier New', Courier, monospace;
}
#select{
    width: 30%;
    height: 30px;
    outline: none;
    margin-left: 35%;
    margin-top: 5vh;
}
table{
    width: 80%;
    height: 30rem;
    border: solid;
    margin-left: 10%;
    margin-top: 5vh;
}
td{
    border: solid;
    font-size: 2vw;
}
th{
    height:10%;
    border: solid;
    font-size: 3vw;
}